<h3>新規投稿</h3>

<%= form_for([@manufacturer, @manufacturer.posts.build]) do |f| %>
<p><%= f.label :introduction,"投稿内容" %></p>
<p><%= f.text_area :introduction %></p>
<p><%= f.submit "投稿", class: "btn btn-primary" %></p>
<% end %>