<h3>タグリスト</h3>
    <% @genre_list.each do |list| %>
      <span>
        <%= link_to list.genre_name, public_tag_posts_path(genre_id: list.id) %>
        <%= "(#{list.posts.count})" %>
      </span>
    <% end %>

<h3>投稿一覧</h3>
  <ul class="list-group">
    <% @posts.each do |post| %>
      <li class="list-group-item">
        <%= image_tag post.post_image %>
        <%= post.introduction %>
      </li>
    <% end %>
  </ul>