<% if manufacturers.exists? %>
  <% manufacturers.each do |manufacturer| %>
    <table>
      <thead>
        <tr>
          <th>name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to public_manufacturer_path(manufacturer) do %>
              <%= manufacturer.account_name %>
            <% end %>
            </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>