
<%= link_to new_manufacturer_registration_path do %>
　<button type="button" class="btn btn-info btn-lg">生産者 新規登録</button>
<% end %>

<%= link_to new_user_registration_path do %>
　<button type="button" class="btn btn-Warning btn-lg">購入者 新規登録</button>
<% end %>
