
<%= link_to new_manufacturer_session_path do %>
　<button type="button" class="btn btn-info btn-lg">生産者ログイン</button>
<% end %>

<%= link_to new_user_session_path do %>
　<button type="button" class="btn btn-warning btn-lg">購入者ログイン</button>
<% end %>

