<div class="container px-5 px-sm-0">
  <div class="align-items-center">
    <div class="row justify-content-center">

      <div>
        <%= link_to new_manufacturer_session_path do %>
        　<button type="button" class="button_custom btn btn-info btn-lg">生産者ログイン</button>
        <% end %>
      </div>
      <div>
        <%= link_to new_user_session_path do %>
        　<button type="button" class="button_custom btn btn-warning btn-lg">購入者ログイン</button>
        <% end %>
      </div>

    </div>
  </div>
</div>

