<div class="container px-5 px-sm-0">
  <div class="text-center">
    <div class="mx-auto">

      <h1>セルフ式販売いんふぉ屋</h1>
      <p>無人販売所へ生産者が商品を入れた日時が分かる通知サイトです。<br>

      登録した購入者はフォローすることで<br>
      生産者が投稿した通知を受け取ることができます。<br>

      生産者は投稿することで<br>
      購入者へ商品を入荷したことをアピールすることができます。<br>
      </p>

      <% if user_signed_in? %>
      <% elsif manufacturer_signed_in? %>
      <% elsif admin_signed_in? %>
      <% else %>

        <div class="col-md my-5">
          <%= link_to 'ログイン', home_sign_in_path, class:"btn btn-outline-primary btn-block" %>
        </div>

        <div class="col-md  my-5">
          <%= link_to '新規登録', home_sign_up_path, class:"btn btn-outline-primary btn-block" %>
        </div>

        <div class="col-md my-5">
          <%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, method: :post, class: "login btn btn-outline-secondary btn-block" %>
        </div>

      <% end %>

    </div>
  </div>
</div>