<div class="container px-5 px-sm-0">

  <div class="center-block">
    <h2>本当に退会しますか？</h2>

    <p>
      退会すると、会員登録情報が消え<br>
      投稿することができなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。
    </p>

    <%= link_to public_users_my_page_path(current_user) do %>
      <button type="button" class="btn btn-primary">退会しない</button>
    <% end %>

    <%= link_to public_users_withdraw_path, method: :patch do %>
      <button type="button" class="btn btn-danger">退会する</button>
    <% end %>

  </div>

</div>